<div role="project-info" project-id="{{ item.id }}">
	<h1><i class="ficon-notebook margin-right"></i>{% if item.can_edit.name %}<input type="text" value="{{ item.name }}" role="project-name"/>{% else %}<span>{{ item.name }}</span>{% endif %}
	</h1>

	{# Описание #}
	{% if item.can_edit.description %}
	<textarea role="project-description" placeholder="Описание проекта">{{ item.description }}</textarea>
	{% else %}
		{% if item.description %}
		<p><em>{{ item.description }}</em></p>
		{% endif %}
	{% endif %}

	{# Навигация #}
	<ol class="breadcrumb">
		<li><a href="/projects"><i class="ficon-home margin-right"></i>Проекты</a></li>
		{% for item in parents %}
		<li><a href="/projects/view/{{ item.id }}">{{ item.name }}</a></li>
		{% endfor %}
	</ol>

	{# Данные по проекту #}
	<div class="row project-info">
		<div class="col-md-7">
			<h3>Данные проекта</h3>
			<div class="row">
				<div class="col-md-4">
					<big>Цель (ПРПЗ)</big><small>Показатель результата, {{ item.result_unit }}</small>
				</div>
				<div class="col-md-6">
					{% if item.can_edit.prpz %}<input type="number" role="project-prpz" value="{{ item.prpz }}"/>{% else %}<div class="value">{{ item.prpz }}</div>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<big>Бюджет (ПРФЗ)</big><small>Расходы на проект, {{ item.result_unit }}</small>
				</div>
				<div class="col-md-6">
					{% if item.can_edit.prfz %}<input type="number" role="project-prfz" value="{{ item.prfz }}"/>{% else %}<div class="value">{{ item.prfz }}</div>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<big>Срок</big><small>Длительность проекта</small>
				</div>
				<div class="col-md-3">
					<div class="value2">{{ item.min_date_text }}</div>
					<div class="value2">{{ item.max_date_text }}</div>
				</div>
				<div class="col-md-3">
					{% if item.can_edit.plan_date_length %}<input type="number" role="project-plan_date_length" value="{{ item.plan_date_length }}"/>{% else %}<div class="value">{{ item.plan_date_length }}</div>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					Период оценки эффективности исполнения
				</div>
				<div class="col-md-4">
					<div class="value2">{{ item.date_unit_text }}</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h3>Показатели эффективности</h3>
			<div class="row">
				<div class="col-md-7">
					<big>Э</big><small>Эффективность комплексная</small>
				</div>
				<div class="col-md-3">
					<div class="value">{{ item.eff_text }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<big>Кс</big><small>Эффективность по сроку</small>
				</div>
				<div class="col-md-3">
					<div class="value">{{ item.ks_text }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<big>Кр</big><small>Эффективность по расходу</small>
				</div>
				<div class="col-md-3">
					<div class="value">{{ item.kr_text }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row project-info">
		<div class="col-md-7">
			<table class="project-info">
				
			</table>
		</div>
		<div class="col-md-5">
			<h3>Прогноз завершения</h3>
			<div class="row">
				<div class="col-md-7">
					<big>Срок</big><small>Прогноз длительности</small>
				</div>
				<div class="col-md-3">
					<div class="value">{{ item.frc_date_length }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					Отклонение
				</div>
				<div class="col-md-3">
					<div class="value2">0%</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<big>Расходы</big><small>Прогноз стоимости, {{ item.result_unit }}</small>
				</div>
				<div class="col-md-3">
					<div class="value">{{ item.frc_frfz }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					Отклонение
				</div>
				<div class="col-md-3">
					<div class="value2">0%</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# Подзадачи #}
<h2>Подзадачи</h2>
{% render "projects/list" %}

{# Кнопка для создания подзадачи #}
{% if mode=='edit' %}
<button onclick="window.Calculator().saveProject({{ item.id }});" role="project-edit">Сохранить данные</button>
<button onclick="window.Calculator().viewProject({{ item.id }});" role="project-add">Отмена</button>
{% else %}
<button onclick="window.Calculator().editProject({{ item.id }});" role="project-edit">Изменить данные</button>
<button onclick="window.Calculator().addSubProject({{ item.id }});" role="project-add">Добавить подзадачу</button>
{% endif %}