##
##	@autor	Makarov ifgeny87@gmail.com
##	@date	2015-07-14
##	@path	d:\www\sites\calc.dev87.ru\public\.htaccess
##

AddDefaultCharset UTF-8
php_value date.timezone Asia/Yekaterinburg

RewriteEngine On

# с файла index.php редирект в корень
RewriteRule ^index.php$ / [qsappend,last,redirect=301]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ / [qsappend,last,R]